body {
  margin: 10px auto 10px auto;
  background: #848484;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding; 0;
  overflow: hidden;
  background-color: #333
}

ul.navbar li {
float: left;
}

ul.navbar li a {
  display: inline-block;
  color: #fff4cc;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

ul.navbar li a:hover {
  background-color: #555;
}

.photos{
  margin-top: 10px;
  display: inline-block;
}

img {
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset -5px -5px #6a636d;
}

#name {
  position: relative;
  overflow: hidden;
}

#name h1 {
  padding: 30px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
}

#name img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

p a{
  font-family: monospace;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;
}

blockquote{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
}
